<div
  class="min-h-screen flex items-center justify-center px-4 sm:px-6 bg-gray-100"
>
  <mat-card
    class="w-full max-w-sm rounded-2xl shadow-md border border-gray-200 bg-white"
  >
    <!-- Card Header -->
    <div class="text-center py-6 px-4">
      <h1 class="text-2xl font-semibold text-gray-800">Welcome Back</h1>
      <p class="text-sm text-gray-500">Sign in to continue</p>
    </div>

    <!-- Card Content -->
    <mat-card-content class="px-4 pb-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- Email -->
        <mat-form-field class="w-full custom-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="loginForm.get('email')?.invalid">
            {{
              loginForm.get("email")?.hasError("required")
                ? "Email is required"
                : "Invalid email"
            }}
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="w-full custom-field">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.invalid"
            >Password is required</mat-error
          >
        </mat-form-field>

        <!-- Submit -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="w-full h-11 text-base"
          [disabled]="loginForm.invalid || isLoading"
        >
          <div class="flex items-center justify-center gap-2">
            <span *ngIf="!isLoading">Sign In</span>
            <mat-spinner
              *ngIf="isLoading"
              diameter="20"
              mode="indeterminate"
            ></mat-spinner>
          </div>
        </button>
      </form>
    </mat-card-content>

    <!-- Footer -->
    <div
      class="py-4 px-4 pb-4 text-center text-sm text-gray-500 space-y-2 sm:space-y-0 sm:flex sm:justify-center"
    >
      <a
        routerLink="/register"
        class="hover:text-black transition-colors duration-200 cursor-pointer"
        >Create account</a
      >
    </div>
  </mat-card>
</div>

